extends layout

block content
  if authed
    include _includes/logged-in-nav.jade
  else
    include _includes/logged-out-nav.jade
    
  .row
    .small-12.text-center.columns
      br
      h3= pageHeader
  .row
    .medium-10.small-centered.columns
      table
        thead
          tr
            each tableHeader in tableHeaders
              th= tableHeader
        tbody
          each game in games
            tr
              td 
                a(href='/player/#{game.url}')= game.title
              td= game.user
              td= game.created
