extends layout

block content
  include _includes/logged-in-nav.jade
  
  .row
    .small-12.text-center.columns
      h3= pageHeader
  .row
    .medium-10.small-centered.columns
      h6= message
      table
        thead
          tr
            each tableHeader in tableHeaders
              th= tableHeader
        tbody
          each game in games
            tr
              td 
                a(href='/player/#{game._id}')= game.title
              td= new Date(game.created).toDateString()
              td
                a.small.button(href='/manager/#{game._id}/game', type='button') Edit
  .row
    .small-12.small-centered.text-center.columns
      a.small.button(href='/manager/new/game', type='button') New Game
